@font-face {
  font-family: "Krasar Black";
  src: url("./assets/fonts/Krasar-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

html,
body,
button,
input,
select,
textarea {
  font-family: "Krasar Black", sans-serif !important;
  font-weight: 900 !important;
}
