@font-face {
  font-family: "Krasar Black";
  src: url("./assets/fonts/Krasar-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

html,
body,
button,
input,
select,
textarea {
  font-family: "Krasar Black", sans-serif !important;
}

strong,
b,
h1,
h2,
h3,
h4,
h5,
h6,
.button,
.batch-field label {
  font-weight: 900;
}
